h1 {
    color: blue;
    background-color: yellow;
}
h2 {
    background-color: blueviolet;
}
h2#wbdv-module-list { color: blue; }
#wbdv-lessons { color: red; }

.wbdv-module {
    background-color: lightblue;
}

